In [1]:
import pandas as pd

In [4]:
csvfiles = pd.read_csv('/Users/mfoulouyvesmarcel/Desktop/csvfiles/CombineAll.csv', low_memory=False)

In [3]:
csvfiles

          sensor value                  time
0        H-DHT22  15.7  2017-12-19T14:07:18Z
1        H-DHT22  15.7  2017-12-19T14:07:25Z
2        H-DHT22  15.7  2017-12-19T14:07:32Z
3        H-DHT22  15.7  2017-12-19T14:07:38Z
4        H-DHT22  15.7  2017-12-19T14:07:45Z
...          ...   ...                   ...
8574578  T-DHT22  27.4  2018-03-13T11:41:54Z
8574579  T-DHT22  27.4  2018-03-13T11:41:58Z
8574580  T-DHT22  27.5  2018-03-13T11:42:02Z
8574581  T-DHT22  27.4  2018-03-13T11:42:06Z
8574582  T-DHT22  27.4  2018-03-13T11:42:10Z

[8574583 rows x 3 columns]

In [5]:
csvfiles.shape()

TypeError: 'tuple' object is not callable

In [6]:
csvfiles.shape

(8574583, 3)

In [8]:
csvfiles.isnull().sum()

sensor    0
value     0
time      0
dtype: int64

In [11]:
csvfiles[csvfiles.time.isnull()]

Empty DataFrame
Columns: [sensor, value, time]
Index: []

In [14]:
csvfiles.columns

Index(['sensor', 'value', 'time'], dtype='object')